/* ==========================================================================
   Project-Specific Styles

   Project: CARE Cats
   Author: Katherine Wyman
   ========================================================================== */
.carousel-item img{
     max-width: 100%;
 }
