/* ==========================================================================
   Project-Specific Styles

   Project: CARE Cats
   Author: Katherine Wyman
   ========================================================================== */
.carousel-item img{
     max-width: 100%;
 }

main{
}

main form{
    width:800px;
    margin:0 auto;
}
